.row.d-flex{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    &>*{
        margin-left: unset;
    }
}
.card-content {
    h1 {
        text-align: center;
        font-size: 200%;
    }
}
.mb-1 {
    margin-bottom: 1rem;
}