.nav-header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: rgb(255, 67, 67);
    color: white;
    &__brand{

    }
    &__links{
    }
}